@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Roboto', 'Ubuntu', 'Cantarell', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
}

/* ----- [Theming] ----- */
.bg-main-gradient {
  background: linear-gradient(128deg, theme('colors.primary') 0%, theme('colors.secondary') 100%);
}
.hover-effect {
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  font-weight: bold;
  &::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 25%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 50%;

    @apply bg-main-gradient;
  }
  // TODO: Add a ml-x on the icon on the link hover
  &:hover::after {
    width: 100%;
    left: 0;
  }
}
.btn {
  transition: all 0.2s;

  @apply py-3 px-16 inline-block cursor-pointer text-center font-semibold select-none align-middle rounded-full;
  &:hover {
    @apply shadow-xl;
  }
  &[disabled] {
    cursor: not-allowed;
  }
  &.btn-primary {
    @apply bg-primary text-white border-solid border-2 border-white;
    &:not([disabled]):hover {
      @apply bg-white text-primary;
    }
  }
}
